<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div>
      <img class="logo" id="logo" src="../../assets/logoMini.png" alt="teacher&learn logo" />
    </div>
    <div>
      <div id="menu">
        <div id="Modo">
          <p id="modo">MODO ALUMNO</p>
          <div id="barra"></div>
        </div>
        <div id="CanviaModo">
          <label class="switch">
            <input id="check" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
        <a href="javascript:void(0);"class="icon" onclick="hamburgesa()">
          <img src="../../assets/account_circle.png" alt="Perfil" id="FotoUser" />
          <h3 id="hambuergerDisplay">▼</h3>
        </a>
        
      </div>
      <nav id="myLinks" style="display: none;" class="navLinks">
        <ul id="nav">
          <a href="#">Cursos</a>
          <a href="#">Usuarios</a>
          <a href="#">Perfil</a>
          <a href="#">Chat</a>
        </ul>
      </nav>
    </div>
  </header>
  <script src="./home.js"></script>
  