header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: white;
  height: 10vh;

}


header img {
  height: 10vh;
  width: auto;
  margin-left: 1vh;
}

ul a {
  display: flex;
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  flex-direction: flex-end;
}

header .iconHeader:hover {
  transform: scale(1.1);
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.iconHeader {
  display: flex;
  margin-right: 1em;
}

#myheader{
  display: flex;
  align-items: center;
}
#mylogo{
  display: flex;
  align-items: center;
}

.iconHeader h3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  inline-size: none;
  color: #518094;
  transition: 0.5s;
}

.logo {
  margin-top: -1em;
}

.iconHeader img {
  height: 7vh;
  width: auto;
  margin-left: 1vh;
}

.iconHeader {
  z-index: 1;
  text-decoration: none;
  font-weight: bold;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLinks {
  z-index: 0;
  margin-top: 1em;
  right: 0em;
  height: 100%;
  top: 8.2vh;
}

.navLinks ul {
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-right: 1vh;
  height: 100vw;
  background-color: #518094;
  margin: 0;
  list-style: none;
  transition: 0.5s;
  width: 10em;
}


.navLinks ul a {
  padding-top: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #518094;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5A597A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#CanviaModo {
  padding-top: 1.6vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

#modo p {
  display: none;
}

#barra {
  display: none;
}

#myLinks a {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-right: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 16px;
  color: white;
}

#myLinks {
  position: fixed;
  display: flex;
  align-items: end;
  flex-direction: column;
}

/* PC */
@media (min-width: 769px) {
  #barra {
      display: flex;
      width: 50vh;
      height: 1vh;
      background-color: #518094;
      border-radius: 5px;
      transition: 0.5s;
  }

  #modo {
      display: flex;
      padding: 0;
      margin: 0;
      color: #518094;
      font-family: Amiri Quran Colored;
      margin-left: 2vh;
      margin-top: 1vh;
      font-weight: bold;
      flex-direction: flex-start;
      transition: 0.5s;
  }

  /* Ajuste del switch en pantallas grandes */
  .switch {
      width: 60px;
      height: 34px;
  }

  .slider:before {
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
  }

  input:checked + .slider:before {
      transform: translateX(26px);
  }
}
