<div class="container-cursos col-lg-12 col-md-12 col-sm-12 col-12">
  <!-- Formulario para añadir cursos (solo visible para administradores) -->
  <div *ngIf="isAdministrator() && showAddForm" class="add-course-form">
    <h3>Añadir Curso</h3>
    <form (ngSubmit)="addCurso()">
      <input type="text" placeholder="Nombre del Curso" [(ngModel)]="newCurso.nomCurso" name="nomCurso" required />
      <textarea placeholder="Descripción del Curso" [(ngModel)]="newCurso.descripcion" name="descripcion" required></textarea>
      <button type="submit">Guardar</button>
      <button type="button" (click)="toggleAddForm()">Cancelar</button>
    </form>
  </div>

  <!-- Botón para mostrar el formulario de añadir curso -->
  <div *ngIf="isAdministrator()" class="add-course-button">
    <button (click)="toggleAddForm()">Añadir Curso</button>
  </div>

  <!-- Buscador -->
  <div class="buscador">
    <input
      type="text"
      id="search"
      placeholder="Buscar..."
      [(ngModel)]="searchTerm"
      (input)="onSearchChange($event)"
    />
    <span class="lupa"><i class="fa fa-search" aria-hidden="true"></i></span>
  </div>

  <!-- Lista de cursos -->
  <div class="cursos">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngFor="let curso of filteredCursos" class="menu-cursos">
      <h4>{{ curso.nomCurso }}</h4>
      <h6>{{ curso.descripcion }}</h6>

      <!-- Botones de administración si es admin -->
      <div *ngIf="isAdministrator()">
        <button (click)="eliminarCurso(curso.idCurso)">Eliminar</button>
      </div>
    </div>
  </div>
</div>