

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teach and learn</title>
    <link rel="stylesheet" href="buscador-cursos.component.css">
    <script src="./script.js" defer></script>

</head>
<body>
    <div class="container-cursos col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="buscador">
        <input type="text" id="search" placeholder="Buscar...">
        <span class="lupa"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    <div class="cursos">
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
        
      </div>
      <div class="menu-cursos">
        <h4>Titulo Curso</h4>
        <h6>Descripcion Curso aishdiuahsidasidi</h6>
      </div>
    </div>

    </div>
    <div id="calendario">
      <c-calendar
        class="border rounded"
        locale="en-ES"
        [value]="selectedDate"
        (valueChange)="onDateChange($event)"
      ></c-calendar>
    </div>
      
    
</body>
</html>