<body>
  <div class="container-formulario">
  <h2 class="titulo-formulario">Crear Clase</h2>
  <form (ngSubmit)="crearClase()" class="formulario">
    <!-- Campo: Título -->
    <div class="campo-formulario">
      <label for="titulo">Título de la Clase:</label>
      <input type="text" id="titulo" [(ngModel)]="nuevaClase.titulo" name="titulo" required />
    </div>

    <!-- Campo: Descripción -->
    <div class="campo-formulario">
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" [(ngModel)]="nuevaClase.descripcio" name="descripcion" required></textarea>
    </div>

    <!-- Campo: Fecha y Hora de Inicio -->
    <div class="campo-formulario">
      <label>Fecha y Hora de Inicio:</label>
      <div class="fecha-hora">
        <input type="date" [(ngModel)]="nuevaClase.fechaInicio" name="fechaInicio" required />
        <input type="time" [(ngModel)]="nuevaClase.horaInicio" name="horaInicio" required />
      </div>
    </div>

    <!-- Campo: Fecha y Hora de Fin -->
    <div class="campo-formulario">
      <label>Fecha y Hora de Fin:</label>
      <div class="fecha-hora">
        <input type="date" [(ngModel)]="nuevaClase.fechaFin" name="fechaFin" required />
        <input type="time" [(ngModel)]="nuevaClase.horaFin" name="horaFin" required />
      </div>
    </div>

    <!-- Campo: Máximo de Alumnos -->
    <div class="campo-formulario">
      <label for="maxAlumnos">Máximo de Alumnos:</label>
      <input type="number" id="maxAlumnos" [(ngModel)]="nuevaClase.maxAlumnes" name="maxAlumnos" min="1" required />
    </div>

    <!-- Botón de Envío -->
    <div class="botones-formulario">
      <button type="submit" class="boton-guardar">Guardar</button>
      <button type="button" class="boton-cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
</body>