<div class="body">
<div class="containerChat">
    <div class="sidebara">
      <h3>Contactos</h3>
      <ul>
        <li *ngFor="let contacto of contactos" (click)="seleccionarContacto(contacto)">
          <img [src]="contacto.fotoPerfil || '../../assets/account_circle.png'" alt="Avatar" class="avatar">
          <div>
            <strong>{{ contacto.nombre }}</strong>
            <p>{{ contacto.ultimoMensaje }}</p>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="chat-section">
      <div *ngIf="contactoSeleccionado; else noContactoSelected">
        <div class="chat-header">
          <img [src]="contactoSeleccionado.fotoPerfil || '../../assets/account_circle.png'" alt="Avatar" class="avatar-large">
          <h3>{{ contactoSeleccionado.nombre }}</h3>
        </div>
  
        <div class="messages-container">
          <div *ngFor="let mensaje of mensajes | orderByFecha" [ngStyle]="{ 'width': '100%', 'display': 'flex', 'justify-content': mensaje.idEnvia === idUsuario ? 'flex-end' : 'flex-start' }">
            <div class="message {{ mensaje.idEnvia === idUsuario ? 'alumne' : 'profe' }}">
              {{ mensaje.Mensaje }}
            </div>
          </div>
        </div>
  
        <div class="input-container">
          <input type="text" [(ngModel)]="nuevoMensaje" placeholder="Escribe tu mensaje...">
          <button (click)="enviarMensaje()">Enviar</button>
        </div>
      </div>
  
      <ng-template #noContactoSelected>
        <p>Selecciona un contacto para empezar a chatear.</p>
      </ng-template>
    </div>
  </div>

</div>