<div id="todo">
    <div class="container">
      <img src="../../assets/logo_Blanco.png" alt="Teach&Learn" class="logo" />
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        [(ngModel)]="serveiAutenticar.email"
        class="form-control form-control-lg custom-input"
      />
      <input
        type="password"
        name="psw"
        id="psw"
        placeholder="contraseña"
        [(ngModel)]="serveiAutenticar.psw"
        class="form-control form-control-lg custom-input"
      />
  
      <button
        class="btn btn-outline-light btn-lg px-5 custom-button"
        type="submit"
        (click)="login()"
      >
        Login
      </button>
      <div>
          <p class="mb-0 ">Don't have an account? <a href="./register" class=" linkk text-blue-50 fw-bold">Sign Up</a></p>
        </div>
  
    </div>
</div>



