<div class="container-cursos col-lg-12 col-md-12 col-sm-12 col-12">
    <!-- Buscador -->
    <div class="buscador">
      <input
        type="text"
        id="search"
        placeholder="Buscar..."
        [(ngModel)]="searchTerm"
        (input)="onSearchChange($event)"
      />
      <span class="lupa"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  
    <!-- Lista de usuarios -->
    <div class="cursos">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
  
      <div *ngFor="let usuario of filteredUsuarios" class="menu-cursos">
        <div class="user-profile">
          <img [src]="usuario.fotoPerfil || './assets/account_circle.png'" alt="Perfil" class="profile-image">
          <h4>{{ usuario.nombre }}</h4>
          <h6>{{ usuario.email }}</h6>
        </div>
        <p>{{ usuario.descripcion || 'Sin descripción' }}</p>
      </div>
    </div>
  </div>