<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teach and learn</title>
    <link rel="stylesheet" href="./busador-usuario.component.css">
    <script src="./js/script.js" defer></script>

</head>
<body>
    <div class="container-cursos col-lg-12 col-md-12 col-sm-12 col-12">
        <div id="buscador">
            <input type="text" id="search" placeholder="Buscar...">
            <button id="searchButton"></button>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class=" descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Lorem ipsum dolor sit amet consectetur adipiscing elit aenean, augue nibh nunc convallis felis montes sollicitudin, nisl at mollis feugiat lacus placerat bibendum. Porta habitasse vitae fusce ante, nullam hac.</h5>
          </div>
        </div>
        
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class=" descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class=" descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        <div class="menu-cursos">
          <div  class="col-2 col-sm-2 col-md-2 col-lg-2">
            <img src="./img/artworks-HKlMwzD2LvRfojUL-4dcKhA-t500x500.jpg" alt="" height="70px">
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <h1>Jaume</h1>
          <h3>Fado</h3>
          </div>
          <div class="descripcion col-6 col-sm-6 col-md-6 col-lg-6">
            <h5>Descripcion: c#, me gusta angular, voldam</h5>
          </div>
        </div>
        
    </div>
    <app-calendar></app-calendar>

</body>
</html>