<div>
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 1em; color: white">
    <img src="../../assets/logoBlanco.png" alt="logo Teacher&Learn" style="height: 40em; margin-left:10em;">
    <h1 style="font-size: 2em; margin-right: 10em;">APRENDE Y AYUDA A OTROS</h1>
  </div>
      <nav class="nav-bar">
        <a href="buscadorCursos" class="nav-button">Cursos</a>
        <a href="buscadorUsuarios" class="nav-button">Usuarios</a>
        <a [routerLink]="['/perfil', idUsuario]" class="nav-button">Perfil</a>
        <a href="chat" class="nav-button">Chat</a>
        <button id="logoutBtn" style="color: rgb(13, 13, 13);" class="nav-button">Cerrar Sesión</button>
      </nav>
      <style>
        .nav-bar {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          padding: 1em;
        }
      
        .nav-button {
          color: white;
          border: none;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          cursor: pointer;
          text-decoration: none;
          background-color: transparent; /* Fondo transparente por defecto */
          transition: all 0.3s ease; /* Transición suave para el hover */
        }
      
        .nav-button:hover {
          background-color: #ffffff; /* Fondo morado al pasar el mouse */
          color: rgb(11, 10, 10); /* Asegura que el texto sea blanco */
          transform: scale(1.4); /* Efecto de zoom */
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
        }
      </style>

    </div>