<div>
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 1em; color: white">
    <img src="../../assets/logoBlanco.png" alt="logo Teacher&Learn" style="height: 40em; margin-left:10em;">
    <h1 id="randomTitle" style="font-size: 2em; margin-right: 10em;"></h1>
  </div>
      <nav class="nav-bar">
        <a href="home" class="nav-button">Home</a>
        <a href="buscadorCursos" class="nav-button">Cursos</a>
        <a href="buscadorUsuarios" class="nav-button">Usuarios</a>
        <a [routerLink]="['/perfil', idUsuario]" class="nav-button">Perfil</a>
        <a href="chat" class="nav-button">Chat</a>
        <button id="logoutBtn" style="color: grey;" class="nav-button">Cerrar Sesión</button>
      </nav>
      <style>
        .nav-bar {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          padding: 1em;
        }
        .nav-button {
          color: white;
          border: none;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          cursor: pointer;
          text-decoration: none;
        }
        .nav-button:hover {
        }
      </style>

    </div>