<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teach and learn</title>
    <script src="./js/script.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="box sidebar">
        <!-- "RECIENTES" -->
        <div class="box section section1">
          <div class="box title">CLASES RECIENTES</div>
          <hr />
          <br />
          <div class="box subtitle">
            <div class="general">
              <!-- <div class="foto">
                <img src="./img/pfp2.png" alt="foto_de_perfil" />
              </div> -->
              <div class="texto etiqueta">
                <h4 class="text">TITULO CLASE</h4>
                <p class="text">TEMA</p>
                <p class="text">PROFESOR</p>
              </div>
            </div>
          </div>
        </div>
        <div class="box section section2">
          <div class="box title">USUARIOS RECIENTES</div>
          <hr />
          <br />
          <div class="box subtitle">
            <div class="general">
              <div class="foto">
                <img src="../../assets/pfp2.png" alt="foto_de_perfil" />
              </div>
              <div class="texto">
                <p>USUARIO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- "MAIN" -->
      <div class="box content">
        <div class="container-cursos ">
          <div class="menu-cursos">
            <div class="titulo">
              <h1 class="text">CURSO 1</h1>
            </div>
            <h3 class="text">Descripción curso</h3>
          </div>
        </div>
      </div>
      <!-- "CALENDARIO" -->
      <div class="sidebar2">
        <!-- <app-calendar></app-calendar> -->
      </div>
    </div>
  </body>
</html>
=======