<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil-propio.component.css">
    <title>Perfil</title>
</head>
<body>
    <div class="containerMain">
        <section class="perfil" #perfilSection>
            <div class="containerHead">
                <div class="presentacion">
                    <img class="imagenPerfil" src="./img/user.jpg" alt="">
                     <div class="containerDatos">
                        <div class="datos">
                            <p>Nombre</p>
                            <p>Apellido</p>
                         </div>
                         <div class="valoracio">
                            <p>5</p>
                        </div>
                     </div>
                </div>
                
                <!-- Button -->
                 <button class="boton" #modificarBtn>Modificar Pefil</button>
            </div>
            <div class="containerBodyDescripcion">
                <h2>Descripción</h2>
                <div class="descripcionPerfil">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, natus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, natus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, natus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, natus.
                    </p>
                </div>
            
            </div>
            <div class="containerReseñas">
                <h2>Reseñas</h2>
                <div class="selectorReseñas">
                  
                </div>
            </div>   
        </section>

        <section class="perfilModificable" #perfilModificableSection>
            <div class="containerHeaderModificar">
                <div class="fotoPerfilModificable">
                    <h1><Main>MODIFICAR</Main></h1>
                    <img class="imagenPerfilModificable" src="./img/user.jpg" alt="">
                    <button class="botonFotoModificar boton">Foto de perfil</button>
                </div>
                <div class="optionsModificable">
                    <button class="boton" #guardarBtn>Guardar Pefil</button>
                    <button class="boton" #cancelarBtn>Cancelar</button>
                </div>
            </div>
            <div class="containerDescriptionModificable">
                <h2>Descripción</h2>
                <div>
                    <textarea class="descripcionPerfilModificable" rows="8" ></textarea>
                </div>
            </div>
        </section>
    </div>
</body>    
</html>



