<div class="container custom-container">
    <img src="./img/Black_Illustrated_School_Logo_4.png" alt="Teach&Learn" class="logo">
    <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        class="form-control form-control-lg custom-input"
    />
    <input
        type="password"
        name="psw"
        id="psw"
        placeholder="contraseña"
        class="form-control form-control-lg custom-input"
    />
    <input
        type="password"
        name="confirmPsw"
        id="confirmPsw"
        placeholder="Confirmar contraseña"
        class="form-control form-control-lg custom-input"
    />
    <button
        class="btn btn-outline-light btn-lg px-5 custom-button"
        type="submit">
        Login
    </button>
</div>