body {
    background-color: #518094 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f8f8f8 !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necesario para el pseudo-elemento */
    padding: 1em 4em 4em 4em;  
}
.container::before {
    content: "";
    position: absolute;
    top: -20px; /* Ajusta según sea necesario */
    left: 8px; /* Ajusta según sea necesario */
    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white; /* Color del triángulo */
}
.custom-input {
    font-size: 1.5em;
    border: none;
    background-color: #eceeefbe;             /* Fondo gris */
    border-bottom: 1px solid #000;      /* Borde inferior de 1px negro */
    border-radius: 0;     
    margin-top: 20px;              /* Elimina bordes redondeados si los tuviera */
    padding: 8px;
    width: 20em;
}
.custom-button {
    margin-top: 15px;                   /* Espaciado superior para separar el botón de los inputs */
    /* Opcional: Puedes personalizar aún más el botón, por ejemplo: */
    background-color: #253047;             /* Fondo oscuro */
    border: none;  
    color: white;
    border-radius: 10px;                     /* Sin borde */
    padding: 10px 20px;                 /* Espaciado interno */
  }
  
form {
    display: flex;
    flex-direction: column;
}



img {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: center;
    border-radius: 50%; /* Hace que el logo sea circular */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* Sombra alrededor del logo */
}