<div id="todo">
    <div class="container">
        <img src="../../assets/logo_Blanco.png" alt="Teach&Learn" class="logo" />
        <input
          type="username"
          name="username"
          id="username"
          placeholder="Username"
          class="form-control form-control-lg custom-input"
        />
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          class="form-control form-control-lg custom-input"
        />
        <input
          type="password"
          name="psw"
          id="psw"
          placeholder="contraseña"
          class="form-control form-control-lg custom-input"
        />
        <input
          type="password"
          name="confirmPsw"
          id="confirmPsw"
          placeholder="Confirmar contraseña"
          class="form-control form-control-lg custom-input"
        />
        <button
          class="btn btn-outline-light btn-lg px-5 custom-button"
          type="submit"
        >
          Login
        </button>
        <div>
            <p class="mb-0 ">Have an account? <a href="../" class="linkk text-blue-50 fw-bold">Log In</a></p>
          </div>
      </div>
</div>
  